<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldnr.projetandroidcahierpunissement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FichePunissement"></activity>
        <activity android:name=".ListePunitions" />
        <activity android:name=".FichePunition" />
        <activity android:name=".NouvellePunition" />
        <activity android:name=".NouveauGroupe" />
        <activity android:name=".NouveauStagiaire" />
        <activity android:name=".NouveauPunissement" />
        <activity android:name=".FicheGroupe" />
        <activity android:name=".FicheStagiaire" />
        <activity android:name=".ListePunissements" />
        <activity android:name=".ListeGroupes" />
        <activity android:name=".ListeStagiaires" />
        <activity
            android:name=".Accueil"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>